/* Search
---------------------------------------------------------------------------------------------------- */

.search-header {
    border-bottom: 1px solid $border-color;
    margin-bottom: 30px;

    h1 {
        font-weight: 600;
        text-align: center;
    }

    .search-form {
        margin-bottom: 30px;

        input[type="search"] {
            background: $grey_1;
            border-radius: 2px;
            padding: 5px 10px;
            width: calc(100% - 85px);
        }

        button {
            float: right;

            i {
                display: none;
            }
        }
    }

    p strong {
        font-size: 22px;
    }
}

.gs-result {
    border-bottom: 1px solid $border-color;
    padding-bottom: 30px;

/*
    padding-left: 90px;
    position: relative !important;

    .gsc-thumbnail {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
    }
*/
    .gs-title {
        font-family: $base-font-family !important;
        font-size: 18px !important;
        font-weight: 600 !important;
        text-decoration: none !important;
    }

    .gsc-url-top {
        font-family: $base-font-family !important;
        font-size: 17px !important;
    }

    .gs-snippet {
        font-family: $base-font-family !important;
        font-size: 18px !important;
        font-weight: 300 !important;
    }
}

.search-results .hentry {
    margin-bottom: 30px;
    min-height: 115px;
    position: relative;
    padding-left: 170px;

    .entry-image-link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
    }

    h2.entry-title {
        margin-bottom: 10px;

        a {
            color: $base-color;
            font-size: 18px;
        }
    }
}
