/* Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	@include clearfix;
	background: $grey_1;
	font-size: 15px;
	padding: 30px 0;

	.footer-widget-area {
		padding-bottom: 20px;
	}

	@include media(">tablet") {
		.footer-widget-area {
			float: left;
			padding: 0 0 0 15px;
			width: 190px / 1140px * 100%;
		}

		#footer-widget-area-5 {
			padding-right: 0;
			width: 380px / 1140px * 100%;
			max-width: 285px;
			float: right;
		}
	}

	h6 {
		margin-bottom: 10px;
	}

	li {
		list-style-type: none;
	}

	a {
		color: $base-color;

		&:hover {
			color: $highlight;
		}
	}

	.socials a {
		background: $grey_7;
		color: $white;
		display: inline-block;
		@include margin-no-edge( 0 2px );
		width: 30px;
		height: 30px;
		padding-top: 5px;
		text-align: center;
		text-decoration: none;

		&:hover {
			background: $highlight;
		}
	}
}

.footer-email-newsletter {
	margin-bottom: 30px;
	position: relative;

	input[type="email"] {
		border-color: $blue;
		border-radius: 3px;
		padding: 5px 40px 5px 10px;
	}

	.button {
		position: absolute;
		top: 0;
		right: 0;
		padding: 5px 8px;
	}
}

/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	font-size: 13px;
	padding: 15px 0;

	a {
		color: $base-color;
		text-decoration: underline;

		&:hover {
			color: $highlight;
		}
	}

	.copyright {
		float: right;

		@include media("<tablet") {
			float: none;
			display: block;
		}
	}
}
